DATABASE_URL="postgresql://ratmirkusainov@localhost:5432/tinyurl?schema=public"
JWT_SECRET="replace-with-a-long-random-secret"
JWT_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN="7d"
PORT=3001
NODE_ENV=development
BASE_URL="http://localhost:3001"
FRONTEND_URL="http://localhost:3000"
